<page-header title="操作员管理"></page-header>


<nz-card [nzExtra]="extraTpl">

  <ng-template #extraTpl>
    <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
      <input type="text" nz-input placeholder="操作员" name="searchTxt" [(ngModel)]="searchTxt">
      <ng-template #addOnAfterTemplate>
        <button nz-button nzType="primary" nzSearch (click)="refresh()"><i nz-icon type="search"></i></button>
        <button nz-button (click)="refresh()" nzShape="circle">
          <i class="anticon anticon-reload"></i>
        </button>
        <button nz-button (click)="create()" nzShape="circle" nzType="primary">
          <i class="anticon anticon-plus"></i>
        </button>
      </ng-template>
    </nz-input-group>
  </ng-template>


  <nz-table #ajaxTable nzShowSizeChanger [nzData]="dataList">
    <thead>
      <tr>
        <th>ID</th>
        <th>操作员</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ajaxTable.data">
        <td>{{item.id}}</td>
        <td>{{item.userName}}</td>
        <td>
          <a (click)="edit(item)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(item)">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>

</nz-card>
