<div class="padding-bottom-45">
  <h3>
    <span>编辑</span>
  </h3>
  <div nz-row>
    <div nz-col [nzSpan]="tableSpan">
      <nz-table nzBordered="true" nzSize="small" [nzData]="tbData">
        <tr>
          <td>
            <label>Pb:</label>
            <input type="text">
            <button type="button">保存</button>
          </td>
          <td>
            <label>;lkasdjf;klasdjfk;lasj
            </label>
            <button nz-button nzType="primary" (click)="showEditor()">编辑</button>
          </td>
        </tr>
      </nz-table>
    </div>
    <div nz-col [nzSpan]="editSpan" *ngIf="isShowEdit">
      <div nz-form>
        <nz-form-item *ngFor="let formItem of formModel">
          <nz-form-label [nzSpan]="6">{{formItem.eleId}}</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input [(ngModel)]="formItem.eleValue" value="{{formItem.eleValue}}">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <button nz-button nzType="primary" (click)="showInfo()">保存</button>
          <button nz-button nzType="default" (click)="addElement()">新增</button>
          <button nz-button nzType="default" (click)="closeEditor()">关闭编辑框</button>
        </nz-form-item>
      </div>
    </div>
  </div>
</div>
