<page-header title="多表查询"></page-header>
<form nz-form [nzLayout]="'inline'" class="search__form">
  <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
    <nz-col nzMd="8" nzSm="24">
      <nz-form-item>
        <nz-form-label nzFor="no">化验模板</nz-form-label>
        <nz-form-control>
          <nz-select style="width: 320px;" [(ngModel)]="templateId" nzAllowClear nzPlaceHolder="选择" name='templateId'
            (ngModelChange)='tplChange($event)' [nzDropdownStyle]="{ 'max-height': '300px' }">
            <nz-option *ngFor="let option of listOfTemplate" [nzLabel]="option.value" [nzValue]="option.key">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzMd="16" nzSm="24">
      <nz-form-item>
        <nz-form-label nzFor="no">样品</nz-form-label>
        <nz-form-control>
          <nz-select style="width: 500px;" [(ngModel)]="specId" nzAllowClear nzPlaceHolder="选择" name='specId' nzMode="tags">
            <nz-option *ngFor="let option of listOfSpec" [nzLabel]="option.value" [nzValue]="option.key">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
  <nz-row>
    <nz-col nzMd="8" nzSm="24">
      <nz-form-item>
        <nz-form-label nzFor="no">送样时间段</nz-form-label>
        <nz-form-control>
          <nz-range-picker nzFormat="yyyy-MM-dd" [(ngModel)]='timeArray' name='timeArray' nz-local='zh'></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzMd="4" nzSm="24">
      <nz-form-item>
        <button nz-button type="submit" [nzType]="'primary'" (click)="btnSearch()">查询</button>
      </nz-form-item>
    </nz-col>
    <nz-col nzMd="4" nzSm="24">
      <nz-form-item>
        <button nz-button type="button" [nzType]="'primary'" (click)="downloadExcelMultiSheet()">多sheet导出</button>
      </nz-form-item>
    </nz-col>
    <nz-col nzMd="4" nzSm="24">
      <nz-form-item>
        <button nz-button type="button" [nzType]="'primary'" (click)="downloadExcelOneSheet()">单sheet导出</button>
      </nz-form-item>
    </nz-col>
  </nz-row>
</form>
<ng-container *ngFor='let tbItem of searchData;let i=index'>
  <nz-table [nzData]="tbItem.tableData" [nzShowPagination]="false" [nzTitle]="tbItem.tableTitle" [nzBordered]=true
    [nzScroll]="tbSizeArray[i]" [nzSize]="small" [nzFooter]="tbFooter[i]">
    <thead>
      <tr>
        <th nzWidth="120px" nzLeft="0px">签到时间</th>
        <th nzWidth="120px" nzLeft="120px">采样时间</th>
        <th nzWidth="100px">班次</th>
        <th nzWidth="80px">炉次</th>
        <th nzWidth="100px">编号</th>
        <th nzWidth="80px">备注</th>
        <ng-container *ngFor='let item of tbItem.tableHead;let i=index'>
          <ng-container [ngSwitch]="i">
            <th *ngSwitchCase='tbItem.tableHead.length-1'>{{item}}</th>
            <th *ngSwitchDefault nzWidth="120px">{{item}}</th>
          </ng-container>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let row of tbItem.tableData'>
        <ng-container *ngFor='let tdVal of row;let i=index'>
          <ng-container [ngSwitch]="i">
            <td *ngSwitchCase='0' nzLeft="0px">{{tdVal}}</td>
            <td *ngSwitchCase='1' nzLeft="120px">{{tdVal}}</td>
            <td *ngSwitchCase='2' nzWidth="100px">{{tdVal}}</td>
            <td *ngSwitchCase='3' nzWidth="80px">{{tdVal}}</td>
            <td *ngSwitchCase='4' nzWidth="100px">{{tdVal}}</td>
            <td *ngSwitchCase='5' nzWidth="80px">{{tdVal}}</td>
            <td *ngSwitchCase='row.length-1'>{{tdVal}}</td>
            <td *ngSwitchDefault nzWidth="120px">{{tdVal}}</td>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
