<div style="height:10px;"></div>
<form nz-form [nzLayout]="'inline'" class="search__form">
  <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
    <nz-col nzMd="8" nzSm="24">
      <nz-form-item>
        <nz-form-label nzFor="no">组织结构</nz-form-label>
        <nz-form-control>
          <nz-tree-select [nzNodes]="orgTree" nzShowSearch nzPlaceHolder="请选择" name='orgCode' [(ngModel)]='orgCode'
            (ngModelChange)='orgChange($event)' [nzDropdownStyle]="{ 'max-height': '300px' }">
          </nz-tree-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzMd="4" nzSm="24">
      <nz-form-item>
        <nz-form-label nzFor="no">化验模板</nz-form-label>
        <nz-form-control>
          <nz-select style="width: 180px;" [(ngModel)]="templateId" nzAllowClear nzPlaceHolder="选择" name='templateId'
            (ngModelChange)='tplChange($event)'>
            <nz-option *ngFor="let option of listOfTemplate" [nzLabel]="option.value" [nzValue]="option.key">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzMd="10" nzSm="24">
      <nz-form-item>
        <nz-form-label nzFor="no">样品</nz-form-label>
        <nz-form-control>
          <nz-select style="width: 420px;" [(ngModel)]="specId" nzAllowClear nzPlaceHolder="选择" name='specId'
            nzMode="tags">
            <nz-option *ngFor="let option of listOfSpec" [nzLabel]="option.value" [nzValue]="option.key">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
  <nz-row>
    <nz-col nzMd="8" nzSm="24">
      <nz-form-item>
        <nz-form-label nzFor="no">送样时间段</nz-form-label>
        <nz-form-control>
          <nz-range-picker nzFormat="yyyy-MM-dd" [(ngModel)]='timeArray' name='timeArray' nz-local='zh'>
          </nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzMd="6" nzSm="24">
      <nz-form-item>
        <button nz-button type="submit" [nzType]="'primary'" (click)="btnSearch()">查询</button>
      </nz-form-item>
    </nz-col>
  </nz-row>
</form>

<nz-card>
  <ng-container *ngIf='tbHead'>
    <nz-table #tplTk nzShowSizeChanger [nzData]="tbBody" [nzLoading]="isTableLoading" [nzShowPagination]=false
      [nzSize]='default' [nzWidthConfig]="widthConfig" [nzScroll]="scrollStyle" [nzBordered]=true>
      <thead (nzSortChange)="sort($event)" nzSingleSort="true">
        <tr>
          <th nzShowSort nzSortKey='signTime' nzLeft="0px" rowspan="2">采样时间</th>
          <ng-container *ngFor='let item of tbHead.specimens'>
            <th [attr.colspan]='item.count'>{{item.name}}</th>
          </ng-container>
        </tr>
        <tr>
          <th *ngFor='let item of tbHead.elements;let x=index' (click)="showChart(x,item.name)">{{item.name}}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor='let row of tbBody;let j=index'>
          <ng-container [ngSwitch]="j" *ngIf="tbBody.length>1">
            <tr style="background-color:#d6ecfa" *ngSwitchCase="tbBody.length-1">
              <ng-container *ngFor='let tdVal of row;let i=index'>
                <ng-container [ngSwitch]="i">
                  <td *ngSwitchCase='0' nzLeft="0px">{{tdVal}}</td>
                  <td *ngSwitchDefault>{{tdVal}}</td>
                </ng-container>
              </ng-container>
            </tr>
            <tr *ngSwitchDefault>
              <ng-container *ngFor='let tdVal of row;let i=index'>
                <ng-container [ngSwitch]="i">
                  <td *ngSwitchCase='0' nzLeft="0px">{{tdVal}}</td>
                  <td *ngSwitchDefault>{{tdVal}}</td>
                </ng-container>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="tbBody.length==1">
            <tr>
              <ng-container *ngFor='let tdVal of row;let i=index'>
                <ng-container [ngSwitch]="i">
                  <td *ngSwitchCase='0' nzLeft="0px">{{tdVal}}</td>
                  <td *ngSwitchCase='1' nzLeft="120px">{{tdVal}}</td>
                  <td *ngSwitchDefault>{{tdVal}}</td>
                </ng-container>
              </ng-container>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </nz-table>
  </ng-container>
</nz-card>

<ng-template #tplTitle>
  <span>{{element}}趋势图</span>
</ng-template>
<ng-template #tplContent>
  <g2-bar height="200" [data]="chartData"></g2-bar>
</ng-template>
<ng-template #tplFooter>
  <button nz-button nzType="primary" (click)="destroyTplModal()">
    关闭
  </button>
</ng-template>
