<div style="height:10px;"></div>
<form nz-form [nzLayout]="'inline'" class="search__form">
  <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
    <nz-col nzMd="8" nzSm="24">
      <nz-form-item>
        <nz-form-label nzFor="no">组织结构</nz-form-label>
        <nz-form-control>
          <nz-tree-select [nzNodes]="orgTree" nzShowSearch nzPlaceHolder="请选择" name='orgCode' [(ngModel)]='orgCode'
            (ngModelChange)='orgChange($event)' [nzDropdownStyle]="{ 'max-height': '300px' }">
          </nz-tree-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzMd="8" nzSm="24">
      <nz-form-item>
        <nz-form-label nzFor="no">化验模板</nz-form-label>
        <nz-form-control>
          <nz-select nzAllowClear nzPlaceHolder="选择" name='templateId' [(ngModel)]="templateId" nzShowSearch
            (ngModelChange)='tplChange($event)'>
            <nz-option *ngFor="let option of listOfTemplate" [nzLabel]="option.value" [nzValue]="option.key">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzMd="8" nzSm="24">
      <nz-form-item>
        <nz-form-label nzFor="no">样品</nz-form-label>
        <nz-form-control>
          <nz-select nzAllowClear nzPlaceHolder="选择" name='specId' [(ngModel)]="specId" nzShowSearch="true">
            <nz-option *ngFor="let option of listOfSpec" [nzLabel]="option.value" [nzValue]="option.key">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
  <nz-row>
    <nz-col nzMd="8" nzSm="24">
      <nz-form-item>
        <nz-input-group [nzAddOnBefore]="dateTypeBefore">
          <nz-range-picker nzFormat="yyyy-MM-dd" [(ngModel)]='timeArray' name='timeArray' nz-local='zh'>
          </nz-range-picker>
        </nz-input-group>
        <ng-template #dateTypeBefore>
          <nz-select style="width:100px" nzSize="small" name="dateType" [(ngModel)]="dateType" nzAllowClear
            nzPlaceHolder="类型">
            <nz-option nzValue="print" nzLabel="签到时间"></nz-option>
            <nz-option nzValue="import" nzLabel="录入时间"></nz-option>
          </nz-select>
        </ng-template>
      </nz-form-item>
    </nz-col>
    <nz-col nzMd="4" nzSm="24">
      <nz-form-item>
        <nz-form-label>条码号：</nz-form-label>
        <nz-form-control>
          <input nz-input name="searchId" [(ngModel)]="searchId" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzMd="3" nzSm="24">
      <nz-form-item>
        <button nz-button type="submit" [nzType]="'primary'" (click)="btnSearch()">查询</button>
      </nz-form-item>
    </nz-col>
    <nz-col nzMd="3" nzSm="24">
      <nz-form-item>
        <button nz-button type="button" [nzType]="'primary'" (click)="btnDownload()">导出excel</button>
      </nz-form-item>
    </nz-col>
    <nz-col nzMd="2" nzSm="24">
      <label>当前数据条数：{{rowCount}}</label>
    </nz-col>
  </nz-row>
</form>
<nz-table #mainTable [nzData]="tableData" nzBordered>
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let title of tableTitle">
        {{title}}
      </th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let row of mainTable.data">
      <tr>
        <td nzShowExpand [(nzExpand)]="mapOfExpandData[row.duplicateId]"></td>
        <td *ngFor="let rowItem of row.rowList">{{rowItem}}</td>
        <td><a (click)="editor(row.duplicateId)">编辑</a></td>
      </tr>
      <tr [nzExpand]="mapOfExpandData[row.duplicateId]">
        <td></td>
        <td [colSpan]="titleLength">{{row.duplicationInfoStr}}</td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
