<page-header [title]="l('OrganizationManager')"></page-header>

<div nz-row>
  <div nz-col nzSpan="10" nzGutter="8" class="gutter-row">
    <div class="gutter-box" [ngStyle]="{'background-color':'red','height':'250px'}">
      <nz-tree [nzData]="nodes" nzShowLine="true" (nzClick)="nzEvent($event)">
      </nz-tree>
    </div>
  </div>
  <div nz-col nzSpan="12" nzGutter="8" class="gutter-row">
    <div class="gutter-box">
      <nz-card [nzBordered]="true" nzTitle="编辑组织" *ngIf="isEdit">
        <form nz-form #validateForm="ngForm" (ngSubmit)="save()">
          <!-- 机构名称 -->
          <nz-form-item>
            <nz-form-label nzXs="24" nzSm="7">组织名称</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10">
              <input nz-input name="orgName" #orgName="ngModel" [(ngModel)]="editDto.orgName" [placeholder]="l('organization.name')"
                required>
              <nz-form-explain *ngIf="orgName.control.dirty&&orgName.control.errors">
                <ng-container *ngIf="orgName.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>

          <!-- 机构别名 -->
          <nz-form-item>
            <nz-form-label nzXs="24" nzSm="7">组织别名</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10">
              <input nz-input name="aliasName" #aliasName="ngModel" [(ngModel)]="editDto.aliasName" [placeholder]="l('organization.aliasName')"
                required>
              <nz-form-explain *ngIf="aliasName.control.dirty&&aliasName.control.errors">
                <ng-container *ngIf="aliasName.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <!-- 机构Code -->
          <nz-form-item>
            <nz-form-label nzXs="24" nzSm="7">组织编码</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10">
              <input nz-input [disabled]="true" name="code" [(ngModel)]="editDto.code" ngReadonly>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
              <button nz-button nzType="primary" type="submit" [nzLoading]="submitting">保存</button>
              <button nz-button class="ml-sm" type="button" (click)="add()">添加子级组织</button>
              <button nz-button nzType="danger" class="ml-sm" type="button" (click)="delete()">删除</button>
            </nz-form-control>
          </nz-form-item>

        </form>
      </nz-card>
    </div>
  </div>
</div>
