<div class="padding-bottom-45">

  <h3>
    <span>{{comptitle}}</span>
  </h3>

  <form nz-form #validateForm="ngForm" (ngSubmit)="save()">

    <!-- 常数值 -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>常数值</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input name="constVal" #constVal="ngModel" [(ngModel)]="editItem.constVal" required>
      </nz-form-control>
      <nz-form-explain *ngIf="constVal.control.dirty&&constVal.control.errors">
        <ng-container *ngIf="constVal.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
      </nz-form-explain>
    </nz-form-item>

    <!-- 类型 -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">类型</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input name="cType" #cType="ngModel" [(ngModel)]="editItem.cType">
      </nz-form-control>
    </nz-form-item>

    <!-- 说明 -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">说明</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input name="intro" #intro="ngModel" [(ngModel)]="editItem.intro" placeholder="说明">
      </nz-form-control>
    </nz-form-item>

    <!-- 功能按钮 -->
    <div class="custom-modal-footer">
      <div class="custom-modal-footter-group">
        <button nz-button type="button" [disabled]="saving" (click)="close()">
          {{l("Cancel")}}
        </button>
        <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">
          {{l("Save")}}
        </button>
      </div>
    </div>

  </form>
</div>
