<div style="height:10px;"></div>
<form nz-form [nzLayout]="'inline'" class="search__form">
  <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
    <nz-col nzMd="8" nzSm="24">
      <nz-form-item>
        <nz-form-label nzFor="no">组织结构</nz-form-label>
        <nz-form-control>
          <nz-tree-select [nzNodes]="orgTree" nzShowSearch nzPlaceHolder="请选择" name='orgCode' [(ngModel)]='orgCode'
            (ngModelChange)='orgChange($event)' [nzDropdownStyle]="{ 'max-height': '300px' }">
          </nz-tree-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzMd="8" nzSm="24">
      <nz-form-item>
        <nz-form-label nzFor="no">化验模板</nz-form-label>
        <nz-form-control>
          <nz-select nzAllowClear nzPlaceHolder="选择" name='templateId' [(ngModel)]="templateId" nzShowSearch
            (ngModelChange)='tplChange($event)'>
            <nz-option *ngFor="let option of listOfTemplate" [nzLabel]="option.value" [nzValue]="option.key">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzMd="8" nzSm="24">
      <nz-form-item>
        <nz-form-label nzFor="no">样品</nz-form-label>
        <nz-form-control>
          <nz-select nzAllowClear nzPlaceHolder="选择" name='specId' [(ngModel)]="specId" nzShowSearch="true">
            <nz-option *ngFor="let option of listOfSpec" [nzLabel]="option.value" [nzValue]="option.key">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
  <nz-row>
    <!-- <nz-col nzMd="8" nzSm="24">
      <nz-form-item>
        <nz-form-label nzFor="no">送样时间段</nz-form-label>
        <nz-form-control>
          <nz-range-picker nzFormat="yyyy-MM-dd" [(ngModel)]='timeArray' name='timeArray' nz-local='zh'>
          </nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzMd="2" nzSm="24">
      <nz-form-item>
        <button nz-button type="submit" [nzType]="'primary'" (click)="btnSearch()">查询</button>
      </nz-form-item>
    </nz-col> -->
    <nz-col nzMd="2" nzSm="24">
      <nz-form-item>
        <button nz-button type="button" [nzType]="'primary'" (click)="btnDownload()">导出excel模板</button>
      </nz-form-item>
    </nz-col>
    <nz-col nzMd="6" nzSm="24">
      <nz-form-item>
        <nz-radio-group name="uploadType" [(ngModel)]="uploadType">
          <label nz-radio nzValue="0">检测中心</label>
          <label nz-radio nzValue="1">锌业/股份</label>
        </nz-radio-group>
        <nz-upload [nzCustomRequest]="customReq" [nzShowUploadList]="false">
          <button nz-button><i nz-icon nzType="upload"></i><span>上传excel文件</span></button>
        </nz-upload>
      </nz-form-item>
    </nz-col>
    <nz-col nzMd="3" nzSm="24">
      <nz-form-item>
        <button nz-button type="button" [nzType]="'primary'" (click)="btnDownloadResolveExcel()">下载分析结果</button>
      </nz-form-item>
    </nz-col>
  </nz-row>
</form>
<nz-table #dataTable [nzData]="tableData" *ngIf="isShowTable">
  <thead>
    <tr>
      <th *ngFor="let item of tableTitle">{{item}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of dataTable.data">
      <td *ngFor="let item of row">{{item}}</td>
    </tr>
  </tbody>
</nz-table>
<div *ngIf="isShowList">
  <h3 [ngStyle]="{ 'margin-bottom.px': 16 }">异常信息</h3>
  <nz-list [nzDataSource]="listData" nzBordered [nzRenderItem]="item">
    <ng-template #item let-item>
      <nz-list-item [nzContent]="item"></nz-list-item>
    </ng-template>
  </nz-list>
</div>
